<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Machine Learing</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/scrolling-nav.css" rel="stylesheet">

  <!-- Google Font -->
  <link
  href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Righteous&display=swap"
  rel="stylesheet"
/>

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger logo-font" href="#page-top"><img 
        src="../static/money.png" 
        alt="logo" 
        width="8%"/> FAsT Loans       
        <!-- <img 
        src=""../static/money.png" 
        alt="logo" 
        width="8%"
      /> -->
      </a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger menu-font" href="#about">Apply Now</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger menu-font" href="#services">The FAsT team</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Are You Eligible For a New Loan?</h1>
      <p class="lead">Enter your information below to find out if you qualify!</p>
    </div>
    <!-- <br>
    <div class="container text-center">
      <div class="result">{{result}}</div>
    </div> -->
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <!-- The above was originlly 8 columns -->
          <h2>Application</h2>
          <p class="lead">With no credit check and no identifing information, 
            there's no worries at FAsT Loans.  <br>Except for paying us back - 
            your kneecaps will thank you.</p>
        </br>
          <form action="/predict" method="post">
            
            <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="Purpose">Loan purpose</label>
                  <select name="Purpose" id="Purpose" class="form-control" required>
                    <option value ="">Why you want money?</option>
                    <option value ="0"> Home</option>
                    <option value ="1">Business</option>
                    <option value ="2">Investment</option>
                    <option value ="3">Emergency Funds</option>
                    <option value ="4">Other</option>
                  </select>                  
                </div>                      
                <div class="form-group col-md-4">
                  <label for="Age">Age</label>
                  <input type="number" min="20" class="form-control" name="Age" id="Age" placeholder="A man never asks, a woman never tells" required>
                </div>
                <div class="form-group col-md-4">
                  <label for="Dependents">Number of dependents</label>
                  <input type="number" min="0" max="15" class="form-control" name="Dependents" id="Dependents" placeholder="7? Seriously!" required>
                </div>             
            </div>

            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="Employment">Are you employed?</label>
                <select name="Employment" id="Employment" class="form-control" required>
                  <option value ="">How will you pay us back if you aren't?</option>
                  <option value ="1">Yes</option>
                  <option value ="0">No</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="Salary">Yearly salary</label>
                <input type="number" class="form-control" name="Salary" id="Salary" placeholder="No crying" required> 
              </div>
              <div class="form-group col-md-4">
                <label for="first_loan">Is this your first loan?</label>
                <select name="first_loan" id="first_loan" class="form-control" required>
                  <option value ="">Everyone has a first...</option>
                  <option value ="1">Yes</option>
                  <option value ="0">No</option>
                </select>
              </div>          
            </div>

            <div class="form-row">              
              <div class="form-group col-md-6">
                <label for="Repay">Have you fully repaid a previous loan?</label>
                <select name="Repay" id="Repay" class="form-control" required>
                  <option value ="">Big if true...</option>
                  <option value ="1">Yes</option>
                  <option value ="0">No</option>
                  <option value ="2">Not Applicable (1st loan)</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="Current">Are you currently repaying a loan?</label>
                <select name="Current" id="Current" class="form-control" required>
                  <option value ="">I hope you pay on time...</option>
                  <option value ="1">Yes</option>
                  <option value ="0">No</option>
                  <option value ="2">Not Applicable (1st loan)</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="Savings">Dollar amount in savings account</label>
                <input type="number" min="0" class="form-control" name="Savings" id="Savings" placeholder="Come on, honestly" required>
              </div>
              <div class="form-group col-md-6">
                <label for="Checking">Dollar amount in checking account</label>
                <input type="number" min="0" class="form-control" name="Checking" id="Checking" placeholder="Dude?" required>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="Credit_card">Total credit card limit</label>
                <input type="number" min="0" class="form-control" name="Credit_card" id="Credit_card" placeholder="How much can you spend on Amazon?" required>
              </div>
              <div class="form-group col-md-6">
                <label for="credit_percent">Avg. percentage of credit limit used last year</label>
                <input type="number" min="0" max="100" class="form-control" name="credit_percent" id="credit_percent" placeholder="having it don't mean you should use it" required>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-12 text-center">
                <button type="submit" method="post" class="btn btn-primary">Submit</button>
              </div>
            </div>           
          </form>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container col-lg-8 mx-auto">
      <div class="row">
        <div class="col-lg-6 text-center">
          <h2>The FAsT team:</h2>
          <ul class="list-unstyled">
            <li><a href="https://github.com/DeMauro">Frankie "Boom Boom" DeMauro</a></li>
            <li><a href="https://github.com/Twilson34">TJ "<u>T</u>he <u>J</u>udge" Wilson</a></li>
            <li><a href="https://github.com/atecza">Adrienne "Rainbow" Tecza</a></li>
          </ul>          
        </div>
        <div class="col-lg-6 text-center">          
          <h4>
            <img
              src="https://www.sferalabs.cc/wp-content/uploads/github-logo-white.png"
              alt="gh logo"
              width="100"
            />
            <br>
            <a href="https://github.com/DeMauro/Project-3">
              See the code on Github</a
            >
          </h4>
        </div>
      </div>
      
    </div>
  </section>

    <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Fast Publishing 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/css/vendor/jquery/jquery.min.js"></script>
  <script src="../static/css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../static/css/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="../static/js/scrolling-nav.js"></script>
  <script src="../static/js/app.js"></script>

</body>

</html>