<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Machine Learing</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/scrolling-nav.css" rel="stylesheet">

  <!-- Google Font -->
  <link
  href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Righteous&display=swap"
  rel="stylesheet"
/>

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger logo-font" href="#page-top"><img 
        src="money.png" 
        alt="logo" 
        width="8%"/> FAsT Loans       
        <!-- <img 
        src="money.png" 
        alt="logo" 
        width="8%"
      /> -->
      </a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger menu-font" href="#about">Apply Now</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger menu-font" href="#services">The FAsT team</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Are You Eligible For a New Loan?</h1>
      <p class="lead">Enter your information below to find out if you qualify!</p>
    </div>
    <br>
    <div class="container text-center">
      <!-- Later Javascript will add flasing Approved or Denied to class result when button is pushed
      <div class="result">Approved!</div>
      <div class="result">Denied!</div>
      </div> -->
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <!-- The sbove was originlly 8 columns -->
          <h2>Application</h2>
          <p class="lead">With no credit check and no identifing information, 
            there's no worries at FAsT Loans.  <br>Except for paying us back - 
            your kneecaps will thank you.</p>
        </br>
          <form>
            
            <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="Purpose">Loan purpose</label>
                  <select id="Purpose" class="form-control">
                    <option selected>Why you want money?</option>
                    <option>Home</option>
                    <option>Business</option>
                    <option>Investment</option>
                    <option>Other</option>
                  </select>
                </div>           
                <div class="form-group col-md-4">
                  <label for="Age">Age</label>
                  <input type="text" class="form-control" id="Age" placeholder="As a fraction">
                </div>

                <div class="form-group col-md-4">
                  <label for="Dependents">Number of dependents</label>
                  <input type="text" class="form-control" id="Dependents" placeholder="7? Seriously!">
                </div>             
                <!-- <div class="form-group col-md-3">
                  <label for="Salary">Yearly Salary</label>
                  <input type="text" class="form-control" id="Salary" placeholder="No crying">
                </div> -->
            </div>

            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="Employment">Are you employed?</label>
                <select id="Employment" class="form-control">
                  <option selected>How will you pay us back if you aren't?</option>
                  <option>Yes</option>
                  <option>No</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="Salary">Yearly salary</label>
                <input type="text" class="form-control" id="Salary" placeholder="No crying">
              </div>
              <div class="form-group col-md-4">
                <label for="first_loan">Is this your first loan?</label>
                <select id="first_loan" class="form-control">
                  <option selected>Everyone has a first...</option>
                  <option>Yes</option>
                  <option>No</option>
                </select>
              </div>          
            </div>

            <div class="form-row">              
              <div class="form-group col-md-6">
                <label for="Repay">Have you fully repaid a previous loan?</label>
                <select id="Repay" class="form-control">
                  <option selected>Big if true...</option>
                  <option>Yes</option>
                  <option>No</option>
                  <option>Not Applicable (1st loan)</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="Current">Are you currently repaying a loan?</label>
                <select id="Current" class="form-control">
                  <option selected>I hope you pay on time...</option>
                  <option>Yes</option>
                  <option>No</option>
                  <option>Not Applicable (1st loan)</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="Savings">Dollar amount in savings account</label>
                <input type="text" class="form-control" id="Savings" placeholder="Come on, honestly">
              </div>
              <div class="form-group col-md-6">
                <label for="Checking">Dollar amount in checking account</label>
                <input type="text" class="form-control" id="Checking" placeholder="Dude?">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="Credit_card">Total credit card limit</label>
                <input type="text" class="form-control" id="Credit_card" placeholder="How much can you spend on Amazon?">
              </div>
              <div class="form-group col-md-6">
                <label for="credit_percent">Avg. percentage of credit limit used last year</label>
                <input type="text" class="form-control" id="credit_percent" placeholder="having it don't mean you should use it">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-12 text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>           
          </form>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container col-lg-8 mx-auto"">
      <div class="row">
        <div class="col-lg-6 text-center">
          <h2>The FAsT team:</h2>
          <ul class="list-unstyled">
            <li><a href="https://github.com/DeMauro">Frankie "Boom Boom" DeMauro</a></li>
            <li><a href="https://github.com/Twilson34">TJ "<u>T</u>he <u>J</u>udge" Wilson</a></li>
            <li><a href="https://github.com/atecza">Adrienne "Rainbow" Tecza</a></li>
          </ul>          
        </div>
        <div class="col-lg-6 text-center">          
          <h4>
            <img
              src="https://www.sferalabs.cc/wp-content/uploads/github-logo-white.png"
              alt="gh logo"
              width="100"
            />
            <br>
            <a href="https://github.com/DeMauro/Project-3">
              See the code on Github</a
            >
          </h4>
        </div>
      </div>
      
    </div>
  </section>

    <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Fast Publishing 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js"></script>

</body>

</html>
